<header class="header">
    <div class="divHeader">
        
        <div class="divimgLogo">
            <img src="../assets/img/header/logobsb.jpg" alt="" class="mt-2 imgLogo">
        </div>

        <div class="ptexto">
            <div class="p">
                <p class="text-center mt-2">SEJAM BEM-VINDOS AO REGISTRO ACADÊMICO</p>
            </div>
        </div>

    </div>
</header>



    <div class="formulario">

    <div class="divimgCelular"><img src="../assets/img/formulario/ImagemCelular.png" alt=""></div>

    <div class="formcampo">
        <div class="campoSenhaGeradaMaior mt-3">
            <div class="senhaGeradaMenor mt-3">
                <p class="pData mt-3">Brasília, {{hoje | date :'dd/MM/yyyy HH:mm' : '00:00' }}</p>
                <p class="senhaAtual mt-4">
                        SENHA: <br>
                        {{senha}}
                </p>
            </div>
            <div class="avaliacao">
                <p class="mt-2 avaliacao">Para avaliar nosso atendimento <button class="botao">Clique aqui.</button></p>
            </div>
        </div>
    </div>
      
    </div>


