.header{
    background-color: #69CE64;
    height: 180px;
    border-radius: 45px;
    margin-bottom: 20px;
}
/*formatação da imagem da logo */
.imgLogo{border-radius: 10px; 
        width: 50%;
}
.img{display: flex; justify-content: center; border-bottom: solid 2px white;}

.ptexto{border-bottom: solid 2px white;
    font: 2.8em 'Inter', sans-serif;
    font-weight: bold;
}
.p{width:70%;}

.formulario{
    background-color: rgba(233, 132, 73, 0.2);
    width: 100%; 
    height: 500px;   
    border-radius: 45px
}
img{
    width: 50%;
    height: auto;
}
.imgPessoaCelular{
    display: flex;
    justify-content: center;
}
.campoSenhaGeradaMaior{
    display: block;
    justify-content: center;
    margin-top: 20px;
    border-radius: 40px;
    width: 40%;
    height: 470px;
    background-color: #f3dacb;
    text-align: center;
    margin: 0 auto;
}
.senhaGeradaMenor{
    border: solid 1px black;
    border-radius: 40px;
    width: 90%;
    height: 400px;
    text-align: center;
    background-color: rgba(233, 132, 73, 0.2);
    margin: 0 auto;
}
.pData{
    color: black;
    font: 1.5em 'Inter', sans-serif;
}
.senhaAtual{
    color: black;
    font: 1em 'Inter', sans-serif;
}
.senhaAtua2{
    color: black;
    font: 1em 'Inter', sans-serif;
}
.senhaProxima{
    color: black;
    font: 1em 'Inter', sans-serif;
}
.botao{
    color: black;
    border-radius: 10px;
    background-color:#F4F13E;
    width: 25%;
    height: 35px;
}
.botao:hover{
    background-color: #d6d43c;
}
.avaliacao{font-weight: 450;}