<header class="container-fluid header">
    <div class="row">
        
        <div class="col-6 img divimgLogo">
            <img src="../assets/img/header/logobsb.jpg" alt="" class="mt-2 imgLogo">
        </div>

        <div class="col-6 ptexto text-center">
            <div class="p">
                <p class="text-center mt-3">SEJAM BEM-VINDOS AO REGISTRO ACADÊMICO</p>
            </div>
        </div>

    </div>
</header>
<div class="container-fluid formulario">


    <div class="formcampo">      
        <form action="" class="mb-3 campoSenhaGeradaMaior">
           <div class="senhaGeradaMenor mt-2">
                <p class="pData mt-3">Brasília, {{data | date : 'dd/MM/yyyy HH:mm' : '00:00'}}</p>
                <div class="senhaAtual mt-4">
                    <b>1- SENHA: ABC123</b><br>
                    GUICHÊ: 1 <br>
                    ASSUNTO: DIPLOMA <br>
                    ENSINO MÉDIO
                </div>
                <div class="senhaAtual2 mt-4">
                    <b>2- SENHA: ABC124</b><br>
                    GUICHÊ: 2 <br>
                    ASSUNTO: NEAD <br>
                    GRADUAÇÃO
                </div>
                <div class="senhaProxima mt-4">
                    <b>PRÓXIMA: ABC125</b><br>
                    ASSUNTO: TRANCAMENTO <br>
                    PÓS GRADUAÇÃO
                </div>
            
           </div>
           <button class="botao col-2">CHAMAR PRÓXIMA SENHA</button>
        </form>
    </div>
</div>